@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #__next {
  height: 100%;
}

body {
  @apply bg-gray-900 text-gray-100 font-sans;
}

/* اسکریول بار باریک */
.scrollable-div { scrollbar-width: thin; }

/* لایت مود پایه */
@media (prefers-color-scheme: light) {
  body { @apply bg-white text-gray-900; }
}